###############################################################################
#              LithosNet FluffOS Compatible Config File                       #
###############################################################################

# name of this mud
name : lithosnet

# absolute pathname of mudlib
mudlib directory : ./mudlib

# absolute pathname of driver/config dir
binary directory : ./

# debug.log and author/domain stats are stored here
log directory : /log

# the directories which are searched by #include <...>
include directories : /include

# the file which defines the master object
master file : /obj/master

# the file where all global simulated efuns are defined.
simulated efun file : 

# the external ports we support
external_port_1 : telnet 4000

# time limits
time to clean up : 1200
time to swap : 600
time to reset : 1800
maximum evaluation cost : 5000000
maximum array size : 15000
maximum string length : 200000
